/* your css here */
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --gold: rgb(69, 58, 11);
  --lblue: rgb(153, 187, 222);
  --dblue: rgb(53, 75, 136);
  background-color: var(--lblue);
  color: var(--gold);
}

body {
  margin: 2vh 5vw 2vh 5vw;
  overflow: visible;
}

p, a, li, td, h4 {
  font-size: large;
}

#bio {
  text-align: center;
}

#bio, figcaption {
  max-width: 80ch;
  margin: auto;
}

li {
  line-height: 150%;
}

h1, h2 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.02em;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 2px solid var(--dblue);
  padding: 10px;
  font-size: larger;
}

a:link {
  color: var(--dblue);
}

a:active {
  color: var(--dblue);
}

a:visited {
  color: var(--dblue);
}

img {
  width: 100%;
  max-width: 800px;
  border: 2px solid var(--gold);
  margin: auto;
  display: block;
}

figcaption, .center {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 100% 40%;
  border: 8px solid var(--dblue);
}

.avatar-wrapper {
  text-align: center;
}

footer {
  padding-top: 2em;
  font-style: italic;
  text-align: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  border: 2px solid var(--gold);
}

nav a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: .7em;
  font-weight: 700;
}

#current {
  color: var(--black);
}
  
.link1 { grid-area: 1 / 1 / 2 / 2; }
.link2 { grid-area: 1 / 2 / 2 / 3; }
.link3 { grid-area: 1 / 3 / 2 / 4; }
.link4 { grid-area: 1 / 4 / 2 / 5; }

.cv-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
  
.cv-left1 { 
  grid-area: 1 / 1 / 3 / 2;
  border: 2px solid var(--gold);
  padding: 0% 5% 0% 5%;
}
.cv-left2 { 
  grid-area: 3 / 1 / 4 / 2; 
  border: 2px solid var(--gold);
  padding: 0% 5% 0% 5%;
}
.cv-right1 { 
  grid-area: 1 / 2 / 4 / 3; 
  border: 2px solid var(--gold);
  padding: 0% 5% 0% 5%;
}

@media (max-width: 800px) {
  .cv-layout {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .cv-left1 { 
    grid-area: 1 / 1 / 3 / 2;
  }
  .cv-left2 { 
    grid-area: 6 / 1 / 7 / 2;
  }
  .cv-right1 { 
    grid-area: 3 / 1 / 6 / 2;
  }
}

.form {
  width: 100%;
  max-width: 800px;
  line-height: 150%;
  font-size: large;
}

@media print {
  * {
    background-color: white;
  }
  .cv-layout {
    display: block;
  }
  .cv-left1  {
    break-after: page;
  }
  .gallery {
    break-after: page;
  }
}